In [67]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import re # for the re.IGNORECASE flag
import numpy as np 
%matplotlib qt 
weather=pd.read_csv('C:/Users/kenyowilliams/Downloads/boston_weather_data.csv')
weather

            time  tavg  tmin  tmax  prcp   wdir  wspd    pres
0     2013-03-01   3.2   1.1   5.0   0.0  342.0  15.1  1002.7
1     2013-03-02   3.1   1.1   5.6   0.0  307.0  14.4  1004.2
2     2013-03-03   2.6   0.6   6.1   0.0    NaN  14.4  1002.6
3     2013-03-04   1.8  -0.6   5.0   0.0  303.0  28.1  1003.0
4     2013-03-05   2.9   0.0   6.1   0.0    NaN  16.6  1013.5
...          ...   ...   ...   ...   ...    ...   ...     ...
3648  2023-02-25  -7.9 -10.6  -6.7   0.3  313.0  11.9  1029.5
3649  2023-02-26  -4.2  -7.8   3.9   0.0  268.0  11.9  1012.6
3650  2023-02-27  -1.7  -2.8  -0.6   0.0   46.0  18.7  1014.9
3651  2023-02-28   0.6  -1.7   2.2   7.1   86.0  23.8  1010.7
3652  2023-03-01   2.4   0.6   5.6   0.0   12.0  14.0  1019.1

[3653 rows x 8 columns]

In [68]:
#Its also important to note here that the tavg values we have here are in terms of celsius 
#Added a new column to dataframe that has average temperature measured in terms of farenheit
weather['farenheit']=''

weather['farenheit']=(weather['tavg']*1.8)+32

weather

#for index, row in weather.iterrows():

            time  tavg  tmin  tmax  prcp   wdir  wspd    pres  farenheit
0     2013-03-01   3.2   1.1   5.0   0.0  342.0  15.1  1002.7      37.76
1     2013-03-02   3.1   1.1   5.6   0.0  307.0  14.4  1004.2      37.58
2     2013-03-03   2.6   0.6   6.1   0.0    NaN  14.4  1002.6      36.68
3     2013-03-04   1.8  -0.6   5.0   0.0  303.0  28.1  1003.0      35.24
4     2013-03-05   2.9   0.0   6.1   0.0    NaN  16.6  1013.5      37.22
...          ...   ...   ...   ...   ...    ...   ...     ...        ...
3648  2023-02-25  -7.9 -10.6  -6.7   0.3  313.0  11.9  1029.5      17.78
3649  2023-02-26  -4.2  -7.8   3.9   0.0  268.0  11.9  1012.6      24.44
3650  2023-02-27  -1.7  -2.8  -0.6   0.0   46.0  18.7  1014.9      28.94
3651  2023-02-28   0.6  -1.7   2.2   7.1   86.0  23.8  1010.7      33.08
3652  2023-03-01   2.4   0.6   5.6   0.0   12.0  14.0  1019.1      36.32

[3653 rows x 9 columns]

In [58]:
#scatterplot (Date & Temperature)
sns.scatterplot(x="time",y="farenheit", data=weather)
plt.show()

In [59]:
#lineplot (Date & Temperature)
sns.lineplot(x="time",y="farenheit", data=weather)
plt.show()

In [70]:
#Here I used a filter on Time column to group the data by year
TwThirteenMask=weather['time'].str.contains('2013', case=False, na=False)
TwFourteenMask=weather['time'].str.contains('2014', case=False, na=False)
TwFifteenMask=weather['time'].str.contains('2015', case=False, na=False)
TwSixteenMask=weather['time'].str.contains('2016', case=False, na=False)
TwSeventeenMask=weather['time'].str.contains('2017', case=False, na=False)
TwEighteenMask=weather['time'].str.contains('2018', case=False, na=False)
TwNineteenMask=weather['time'].str.contains('2019', case=False, na=False)
TwentyMask=weather['time'].str.contains('2020', case=False, na=False)
TwentyOneMask=weather['time'].str.contains('2021', case=False, na=False)
TwTwoMask=weather['time'].str.contains('2022', case=False, na=False)
TwThreeMask=weather['time'].str.contains('2023', case=False, na=False)

weather[TwThirteenMask]
weather[TwThreeMask].head()

            time  tavg  tmin  tmax  prcp   wdir  wspd    pres  farenheit
3593  2023-01-01  11.4   6.1  12.8   1.0  268.0  21.6  1008.7      52.52
3594  2023-01-02   6.5   2.2  11.1   0.0  271.0  12.2  1018.5      43.70
3595  2023-01-03   4.9   1.1   7.2  12.2    8.0   7.6  1015.7      40.82
3596  2023-01-04   5.2   4.4   7.2   8.1   38.0   8.6  1012.3      41.36
3597  2023-01-05   5.6   1.7   7.2   2.3   22.0  24.1  1015.7      42.08

In [57]:
#Creating graphs to show yearly average temperature trends
#2013
TwThirteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwThirteenMask])
plt.title('Boston Average Temperature 2013',loc='center')
TwThirteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwThirteenPlot.set_ylabel(' Temperature in Farenheit')
TwThirteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2014
TwFourteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwFourteenMask])
plt.title('Boston Average Temperature 2014',loc='center')
TwFourteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwFourteenPlot.set_ylabel(' Temperature in Farenheit')
TwFourteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2015
TwFifteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwFifteenMask])
plt.title('Boston Average Temperature 2015',loc='center')
TwFifteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwFifteenPlot.set_ylabel(' Temperature in Farenheit')
TwFifteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2016
TwSixteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwSixteenMask])
plt.title('Boston Average Temperature 2016',loc='center')
TwSixteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwSixteenPlot.set_ylabel(' Temperature in Farenheit')
TwSixteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2017
TwSeventeenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwSeventeenMask])
plt.title('Boston Average Temperature 2017',loc='center')
TwSeventeenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwSeventeenPlot.set_ylabel(' Temperature in Farenheit')
TwSeventeenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2018
TwEighteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwEighteenMask])
plt.title('Boston Average Temperature 2018',loc='center')
TwEighteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwEighteenPlot.set_ylabel(' Temperature in Farenheit')
TwEighteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2019
TwNineteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwNineteenMask])
plt.title('Boston Average Temperature 2019',loc='center')
TwNineteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwNineteenPlot.set_ylabel(' Temperature in Farenheit')
TwNineteenPlot.set_xlabel('January- December')
ax.margins(x=0)
#2020
TwentyPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwentyMask])
plt.title('Boston Average Temperature 2020',loc='center')
TwentyPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwentyPlot.set_ylabel(' Temperature in Farenheit')
TwentyPlot.set_xlabel('January- December')
ax.margins(x=0)
#2021
TwentyOnePlot=sns.lineplot(x='time',y='farenheit',data=weather[TwentyOneMask])
plt.title('Boston Average Temperature 2021',loc='center')
ax.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
ax.set_ylabel(' Temperature in Farenheit')
ax.set_xlabel('January- December')
ax.margins(x=0)
#2022
TwTwoPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwTwoMask])
plt.title('Boston Average Temperature 2022',loc='center')
TwTwoPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwTwoPlot.set_ylabel(' Temperature in Farenheit')
TwTwoPlot.set_xlabel('January- December')
ax.margins(x=0)
#2023
TwThreePlot=sns.lineplot(x='time',y='farenheit',data=weather[TwThreeMask])
plt.title('Boston Average Temperature 2022',loc='center')
TwThreePlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwThreePlot.set_ylabel(' Temperature in Farenheit')
TwThreePlot.set_xlabel('January- December')
ax.margins(x=0)

In [86]:
TwThirteenPlot=sns.lineplot(x='time',y='farenheit',data=weather[TwThirteenMask])
plt.title('Boston Average Temperature 2013',loc='center')
TwThirteenPlot.tick_params(
    axis='x',
    which='both',
    bottom=False,
    top=False,
    labelbottom=False)
TwThirteenPlot.set_ylabel(' Temperature in Farenheit')
TwThirteenPlot.set_xlabel('January- December')
ax.margins(x=0)
ymax = max(weather['farenheit'])
xpos = np.where(weather['farenheit'] == ymax)
#xmax = x[xpos]

TwThirteenPlot.annotate('local max', xy=(xpos,ymax), arrowprops=dict(facecolor='black'),)
TwThirteenPlot